.form-container{
    max-width: 400px;
    margin: 4rem auto;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #fafafa;
    font-size: 0.95rem;
}

.error-text {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.85rem;
    color: #ff6b6b;
    margin-top: 0.4rem;
    opacity: 0.9;
}

.error-text img {
    width: 14px;
    height: 14px;
    opacity: 0.8;
    filter: hue-rotate(-20deg) saturate(3);
    
}

.upload-label {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    font-weight: 500;
    color: #fafafa;
}

.info-upload {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;

    margin-top: 0.4rem;
    opacity: 0.5;
}

.info-upload img {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    opacity: 0.7;
}

.upload-icon-box{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    /* margin: 1rem; */
    padding: 0.2rem;
    border: 2px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-icon > img {
    margin-bottom: 0;
    width: 24px;
    height: 24px;
    opacity: 0.8;
    display: block;
    object-fit: contain;
}

.upload-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    border: 2px dashed rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);
    cursor: pointer;
    transition: all 0.3s ease ;
    text-align: center;
    gap: 0.8rem;
}

.upload-box:hover,
.upload-box:focus-within{
    border-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 119, 255, 0.3);
    background: rgba(255, 255, 255, 0.15);
}

.upload-box p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9rem;
    margin: 0;
}

.upload-box input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

input[type="text"],
input[type="email"]{
    margin-top: 0.3rem;
    padding: 0.6rem 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    font-size: 1rem;
    color: #fff;
    background: rgba(0, 119, 255, 0.1);
    backdrop-filter: blur(6px);
    outline: none;
    transition: all 0.3s ease;
}

input:focus{
    border-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 119, 255, 0.3);
    background: rgba(255, 255, 255, 0.15);
}

.submit-btn {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    background: #f68c68;
    outline: none;
    transition: all 0.15s ease;
}

.submit-btn:hover{
    /* border-color: #ffffff; */
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
    background: #f67b68;
}